/* @import '../../node_modules/swiper/swiper-bundle';  */
// расширение файла не пишем ! (css)

.main{
	padding: 0;
	.inner{
		margin: 0;
		color: #fff;

	}
}
body{
	background-color: #000;
	color: #fff;
}